@import "../../style/default.less";

:global {
  .ykx-markdown-code {
    background-color: #f2f4f5;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    border-radius: 3px;
    border: 1px solid #eee;
    display: inline-block;
    font-weight: 500;
  }
}
